swagger: "2.0"
host: ons.gov.uk
info:
  description: "Used to find information about data published by the ONS.
  `Datasets` are published in unique `versions`, which are categorized by `edition`.
  Data in each version is broken down by `dimensions`, and a unique combination
  of dimension `options` in a version can be used to retrieve `observation` level data."
  version: "1.0.0"
  title: "Explore our data"
  contact: me
  license:
    name: "Open Government Licence v3.0"
    url: "http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
basePath: "/v1"
tags:
- name: "Public"
- name: "Private user"
- name: "Private"
schemes:
- "http"
parameters:
  dataset:
    name: dataset
    description: "A unique id for a dataset to filter on"
    in: query
    type: string
  edition:
    name: edition
    description: "An edition of a dataset"
    in: path
    required: true
    type: string
  event:
    name: event
    description: "An event that occurs when importing a dataset"
    in: body
    schema:
      $ref: '#/definitions/Event'
  id:
    name: id
    description: "Id that represents a dataset"
    in: path
    required: true
    type: string
  instance_id:
    name: instance_id
    description: "A unique id for an instance"
    in: path
    required: true
    type: string
  instance:
    name: instance
    description: "An instance related to an import job and dataset"
    in: body
    required: true
    schema:
      $ref: '#/definitions/Instance'
  new_dataset:
    name: dataset
    description: "A new dataset"
    in: body
    required: true
    schema:
     allOf:
        - type: object
          properties:
            type:  
              $ref: '#/definitions/Type'
        - $ref: "#/definitions/Dataset"
  new_edition:
    name: new_edition
    description: "A new edition of the dataset"
    in: body
    required: true
    schema:
      $ref: '#/definitions/Edition'
  new_version:
    name: new_version
    description: "A new version for an edition of a dataset"
    in: body
    required: true
    schema:
      $ref: '#/definitions/Version'
  newInstance:
    name: instance
    description: "An instance related to an import job"
    in: body
    required: true
    schema:
      $ref: '#/definitions/NewInstance'
  state:
    name: "state"
    description: "A comma separated list of state values to filter on (e.g. ‘completed,edition-confirmed’)"
    in: query
    type: string
  update_dataset:
    name: dataset
    description: "An update to a dataset"
    in: body
    required: true
    schema:
      $ref: "#/definitions/Dataset"
  version:
    name: version
    description: "A version of a dataset"
    in: path
    required: true
    type: string
  version_update:
    name: version_update
    description: "Update to a version for an edition of a dataset"
    in: body
    required: true
    schema:
      $ref: '#/definitions/UpdateVersion'
  limit:
    name: limit
    description: "Maximum number of items that will be returned. A value of zero will return zero items. The default value is 20, and the maximum limit allowed is 1000"
    in: query
    required: false
    type: integer
  offset:
    name: offset
    description: "Starting index of the items array that will be returned. By default it is zero, meaning that the returned items will start from the beginning."
    in: query
    required: false
    type: integer
  ids:
    name: id
    description: "List of ids, as comma separated values and/or as multiple query parameters with the same key (e.g. 'id=op1,op2&id=op3'). It defines the IDs that we want to retrieve. If provided, it takes precedence over offset and limit."
    in: query
    required: false
    type: string
  if_match:
    name: If-Match
    required: false
    description: "Filter resource version, as returned by a previous ETag, to be validated; or '*' to skip the version check"
    in: header
    type: string
  is_based_on:
    name: is_based_on
    required: false
    description: "A population type to search on to return datasets that are associated with that population type e.g. Usual-Residents.  This is applicable to Census 2021 datasets only."
    in: query
    type: string
securityDefinitions:
  FlorenceAPIKey:
    name: florence-token
    description: "API key used to allow florence users to create and query the progress of importing a dataset"
    in: header
    type: apiKey
  InternalAPIKey:
    name: internal-token
    description: "API key used to allow only internal services to update the state of an import job"
    in: header
    type: apiKey
  DownloadServiceAPIKey:
    name: x-download-service-token
    description: "API key used to allow the download service to access public and private links to a download"
    in: header
    type: apiKey
paths:
  /datasets:
    get:
      tags:
      - "Public"
      summary: "Get a list of datasets"
      description: "Returns a list of all datasets provided by the ONS that can be filtered using the filter API"
      parameters: 
      - $ref: '#/parameters/is_based_on'
      - $ref: '#/parameters/limit'
      - $ref: '#/parameters/offset'
      produces:
      - "application/json"
      responses:
        200:
          description: "A json list containing datasets which have been published"
          schema:
            $ref: '#/definitions/Datasets'
        400:
          description: "Parameter is_based_on was sent but no value was provided"
        404:
          description: "No dataset was found with the popultation-type provided"
        500:
          $ref: '#/responses/InternalError'
  /datasets/{id}:
    post:
      tags:
      - "Private user"
      summary: "Create a dataset"
      description: "Create a dataset provided by the ONS that can be filtered using the filter API"
      parameters:
      - $ref: '#/parameters/id'
      - $ref: '#/parameters/new_dataset'
      produces:
      - "application/json"
      responses:
        201:
          description: "A json object containing a dataset which has been created"
          schema:
            $ref: '#/definitions/NewDatasetResponse'
        400:
          description: "Invalid request body"
        401:
          description: "Unauthorised to create/overwrite dataset"
        403:
          description: "Forbidden to overwrite dataset, already published"
        500:
          $ref: '#/responses/InternalError'
    get:
      tags:
      - "Public"
      summary: "Get a dataset"
      description: "The dataset contains all high level information, for additional details see editions or versions of a dataset. "
      parameters:
      - $ref: '#/parameters/id'
      responses:
        200:
          description: "A json object for a single Dataset"
          schema:
            $ref: '#/definitions/DatasetResponse'
        404:
          description: "No dataset was found using the id provided"
        500:
          $ref: '#/responses/InternalError'
    put:
      tags:
      - "Private user"
      summary: "Update a dataset"
      description: "Update the metadata for the next release of the dataset. The dataset contains all high level information, for additional details see editions or versions of a dataset."
      parameters:
      - $ref: '#/parameters/id'
      - $ref: '#/parameters/update_dataset'
      responses:
        200:
          description: "A json object for a single Dataset"
        400:
          description: "Bad Request due to invalid json in the request body"
        401:
          description: "Unauthorised to update dataset"
        404:
          description: "No dataset was found using the id provided"
        500:
          $ref: '#/responses/InternalError'
    delete:
      tags:
      - "Private user"
      summary: "Delete a dataset"
      description: "Delete an existing dataset"
      parameters:
      - $ref: '#/parameters/id'
      responses:
        204:
          description: "The dataset was successfully deleted"
        401:
          description: "Unauthorised to delete the dataset"
        403:
          description: "Forbidden to delete dataset, already published"
        500:
          $ref: '#/responses/InternalError'
  /datasets/{id}/editions:
    get:
      tags:
      - "Public"
      summary: "Get a list of editions of a dataset"
      description: "Get a list of editions of a type of dataset"
      parameters:
      - $ref: '#/parameters/id'
      - $ref: '#/parameters/limit'
      - $ref: '#/parameters/offset'
      responses:
        200:
          description: "A json list containing all editions for a dataset"
          schema:
            $ref: '#/definitions/Editions'
        400:
          description: "Invalid request, dataset id was incorrect"
        404:
          description: "No editions were found for the id provided"
        500:
          $ref: '#/responses/InternalError'
  /datasets/{id}/editions/{edition}:
    get:
      tags:
      - "Public"
      summary: "Get an edition of a dataset"
      description: "The edition contains a link to all versions"
      parameters:
      - $ref: '#/parameters/edition'
      - $ref: '#/parameters/id'
      responses:
        200:
          description: "A json object containing an edition"
          schema:
            $ref: '#/definitions/Edition'
        400:
          description: "Invalid request, dataset id was incorrect"
        404:
          description: "No edition of a dataset was found using the id and edition provided"
        500:
          $ref: '#/responses/InternalError'
  /datasets/{id}/editions/{edition}/versions:
    get:
      tags:
      - "Public"
      summary: "Get a list of versions of an edition"
      description: "Get a list of all versions for an edition of a dataset"
      parameters:
      - $ref: '#/parameters/edition'
      - $ref: '#/parameters/id'
      - $ref: '#/parameters/limit'
      - $ref: '#/parameters/offset'
      responses:
        200:
          description: "A json list containing all versions for a set type of dataset and edition"
          schema:
            $ref: '#/definitions/Versions'
        400:
          description: |
            Invalid request, reasons can be one of the following:
              * dataset id was incorrect
              * edition was incorrect
        404:
          description: "No versions found using the id and edition provided"
        500:
          $ref: '#/responses/InternalError'
  /datasets/{id}/editions/{edition}/versions/{version}:
    put:
      tags:
      - "Private user"
      summary: "Update a version"
      description: "Update a version for an edition of a dataset, if the state is changed to associated or published, the parent documents(dataset and edition resources) will also be updated. A version can only be updated if the state is not published"
      parameters:
      - $ref: '#/parameters/id'
      - $ref: '#/parameters/edition'
      - $ref: '#/parameters/version'
      - $ref: '#/parameters/version_update'
      responses:
        201:
          description: "A json object containing a version"
          schema:
            $ref: '#/definitions/NewVersionResponse'
        400:
          description: |
            Invalid request, reasons can be one of the following:
              * invalid request body
              * dataset id was incorrect
              * edition was incorrect
        401:
          description: "Unauthorised to update version of dataset"
        403:
          description: "Forbidden to overwrite version of dataset, already published"
        404:
          description: "Version was not found for a dataset using the id and edition provided"
        500:
          $ref: '#/responses/InternalError'
    get:
      tags:
      - "Public"
      summary: "Get a version"
      description: "Get a specific version of an edition of a dataset"
      parameters:
      - $ref: '#/parameters/edition'
      - $ref: '#/parameters/id'
      - $ref: '#/parameters/version'
      responses:
        200:
          description: "A json object containing the edition and version of a dataset"
          schema:
            $ref: '#/definitions/Version'
          headers:
            ETag:
              type: string
              description: "Defines the unique etag for this resource"
        400:
          description: |
            Invalid request, reasons can be one of the following:
              * dataset id was incorrect
              * edition was incorrect
        404:
          description: "No version was found for an edition of a dataset using the id, edition and version provided"
        500:
          $ref: '#/responses/InternalError'
    delete:
      tags:
      - "Private"
      summary: "Delete a version"
      description: "detaches a version from a collection. Effectively a soft delete."
      parameters:
      - $ref: '#/parameters/edition'
      - $ref: '#/parameters/id'
      - $ref: '#/parameters/version'
      security:
            - InternalAPIKey: []
      responses:
        200:
          description: "A json object containing the edition and version of a dataset"
          schema:
            $ref: '#/definitions/Version'
        400:
          description: |
            Invalid request, reasons can be one of the following:
              * dataset id was incorrect
              * edition was incorrect
              * version state was incorrect
              * not the most recent unpublished version
        404:
          description: "No version was found for an edition of a dataset using the id, edition and version provided"
        500:
          $ref: '#/responses/InternalError'
  /instances:
    get:
      tags:
      - "Private user"
      summary: "Get instances"
      description: "Get a list of instances which has been paged"
      parameters:
        - $ref: '#/parameters/state'
        - $ref: '#/parameters/dataset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
      produces:
      - "application/json"
      security:
      - FlorenceAPIKey: []
      responses:
        200:
          description: "Return a list of instance state"
          schema:
            $ref: '#/definitions/Instances'
        400:
          $ref: '#/responses/InvalidRequestError'
        401:
          $ref: '#/responses/UnauthorisedError'
        500:
          $ref: '#/responses/InternalError'
    post:
      tags:
      - "Private"
      summary: "Create an instance"
      description:  |
        Create an instance which will be imported. To create an instance an import job id and href is required. This is to allow a link back to the import job
      parameters:
      - $ref: '#/parameters/newInstance'
      produces:
      - "application/json"
      security:
      - InternalAPIKey: []
      responses:
        201:
          description: "Successfully created instance"
          schema:
            $ref: '#/definitions/NewInstance'
          headers:
            ETag:
              type: string
              description: "Defines a unique instance resource version"
        400:
          $ref: '#/responses/InvalidRequestError'
        401:
          $ref: '#/responses/UnauthorisedError'
        403:
          $ref: '#/responses/ForbiddenError'
        500:
          $ref: '#/responses/InternalError'
  /instances/{instance_id}:
    get:
      tags:
      - "Private user"
      summary: "Get an instance"
      description: "Get the current state of an instance, this includes all events which have happened."
      parameters:
      - $ref: '#/parameters/instance_id'
      - $ref: '#/parameters/if_match'
      produces:
      - "application/json"
      security:
      - FlorenceAPIKey: []
      responses:
        200:
          description: "Return a single instance state"
          schema:
            $ref: '#/definitions/Instance'
          headers:
            ETag:
              type: string
              description: "Defines a unique instance resource version"
        401:
          $ref: '#/responses/UnauthorisedError'
        404:
          $ref: '#/responses/InstanceNotFound'
        409:
          $ref: '#/responses/ConflictError'
        500:
          $ref: '#/responses/InternalError'
    put:
      tags:
      - "Private"
      summary: "Update an instance"
      description: "Update an instance by providing an unique id and a set of properties to over write"
      parameters:
      - $ref: '#/parameters/instance_id'
      - $ref: '#/parameters/instance'
      - $ref: '#/parameters/if_match'
      produces:
      - "application/json"
      security:
      - InternalAPIKey: []
      responses:
        200:
          description: "The instance has been updated"
          headers:
            ETag:
              type: string
              description: "Defines a unique instance resource version"
        400:
          $ref: '#/responses/InvalidRequestError'
        401:
          $ref: '#/responses/UnauthorisedError'
        403:
          $ref: '#/responses/ForbiddenError'
        404:
          $ref: '#/responses/InstanceNotFound'
        409:
          $ref: '#/responses/ConflictError'
        500:
          $ref: '#/responses/InternalError'
  /instances/{instance_id}/events:
    post:
      tags:
       - "Private"
      summary: "Add an event to an instance"
      description: |
        Add a new event into an instance. Events can be for information or error messages.
        Each event must contain a type of event (Info or Error), a message to explain
        the event, time of the event and finally the message offset in kafka
      parameters:
      - $ref: '#/parameters/instance_id'
      - $ref: '#/parameters/event'
      - $ref: '#/parameters/if_match'
      security:
      - InternalAPIKey: []
      responses:
        201:
          description: "The event was added to the instance"
          headers:
            ETag:
              type: string
              description: "Defines a unique instance resource version"
        400:
          $ref: '#/responses/InvalidRequestError'
        401:
          $ref: '#/responses/UnauthorisedError'
        404:
          description: "InstanceId does not match any instances"
        409:
          $ref: '#/responses/ConflictError'
        500:
          $ref: '#/responses/InternalError'
responses:
  ConflictError:
    description: "Failed to process the request due to a conflict"
  ForbiddenError:
    description: "The request is forbidden"
  InstanceNotFound:
    description: "The instance was not found"
  InternalError:
    description: "Failed to process the request due to an internal error"
  InvalidRequestError:
    description: "Failed to process the request due to invalid request"
  UnauthorisedError:
    description: "The token provided is unauthorised to carry out this operation"
definitions:
  AccessRightsLink:
    type: object
    properties:
      href:
        description: "A url to the standard Government access right text for the dataset"
        type: string
  Alert:
    description: "Important information relating to a version of a dataset"
    type: object
    properties:
      date:
        description: "The date and time of when an alert took place"
        type: string
      description:
        description: "Detail of what a user needs to be aware of for this dataset"
        type: string
      type:
        description: "The type of alert"
        example: "correction"
        type: string
  CollectionID:
    description: "The id of the unpublished collection (of datasets) that this dataset is associated with"
    type: string
  Contact:
    description: "A list of objects containing contact information for this dataset"
    type: object
    properties:
      email:
        description: "An email address to contact the statistician"
        type: string
      name:
        description: "The name of the statistician"
        type: string
      telephone:
        description: "Telephone number to contact the statistician"
        type: string
  Datasets:
    description: "A list of datasets"
    type: object
    properties:
      count:
        description: "The number of datasets returned"
        readOnly: true
        type: integer
      items:
        type: array
        items:
          $ref: '#/definitions/DatasetResponse'
      limit:
        description: "The number of datasets requested"
        type: integer
      offset:
        description: "The first row of datasets to retrieve, starting at 0. Use this parameter as a pagination mechanism along with the limit parameter"
        type: integer
      total_count:
        description: "The total number of datasets"
        readOnly: true
        type: integer
  DatasetResponse:
    description: "A model for the response body when getting a dataset"
    allOf:
    - type: object
      properties:
        id:
          description: "An unique id for a dataset"
          example: "DE3BC0B6-D6C4-4E20-917E-95D7EA8C91DC"
          readOnly: true
          type: string
        type:
          $ref: "#/definitions/Type"
    - $ref: "#/definitions/Dataset"
  Dataset:
    description: "The dataset"
    type: object
    required: ["id", "contacts", "description", "license", "links", "national_statistics", "title"]
    properties:
      canonical_topic:
        description: "The canonical topic id for this dataset.  This indicates which topic this dataset belongs to within the website taxonomy."
        type: string
      collection_id:
        $ref: '#/definitions/CollectionID'
      contacts:
        description: "A list containing contact details of staticians for a dataset"
        type: array
        items:
          $ref: '#/definitions/Contact'
      description:
        description: "A description for a dataset"
        type: string
      is_based_on:
        $ref: '#/definitions/IsBasedOn'
      keywords:
        description: "A list of keywords for a dataset"
        type: array
        items:
          type: "string"
      license:
        description: "The standard Government license right text for the dataset"
        type: string
      links:
        $ref: '#/definitions/DatasetLinks'
      methodologies:
        description: "A list of methodologies for a dataset"
        type: array
        items:
          type: object
          properties:
            description:
              description: "The description of a methodology"
              type: string
            href:
              description: "The url to a methodology"
              type: string
            title:
              description: "The title of a methodology"
              type: string
      national_statistic:
        description: "The flag indicating the resource is a national statistic. These are certified as compliant with the Code of Practice for Official Statistics"
        type: boolean
      next_release:
        description: "The next release date for a dataset"
        type: string
      nomis_ref_url:
        description: "The NOMIS reference url for the dataset"
        type: string
        example: "https://www.nomisweb.co.uk/census/2011/ks106ew"
      publications:
        description: "A list of publications for a dataset"
        type: array
        items:
          type: object
          properties:
            description:
              description: "The description of a publication"
              type: string
            href:
              description: "The url to a publication"
              type: string
            title:
              description: "The title of a publication"
              type: string
      publisher:
        $ref: '#/definitions/Publisher'
      qmi:
        description: "Object containing information on the quality and methodology index of a dataset"
        type: object
        properties:
          description:
            description: "The description of a quality and methodology index"
            type: string
          href:
            description: "The url to a quality and methodology index"
            type: string
          title:
            description: "The title of a quality and methodology index"
            type: string
      related_datasets:
        description: "A list of objects containing information of datasets related to a dataset"
        type: array
        items:
          type: object
          properties:
            href:
              description: "The url to a related dataset"
              type: string
            title:
              description: "The title of a related dataset"
              type: string
      related_content:
        description: "A list of objects containing information of content related to a dataset"
        type: array
        items:
          type: object
          properties:
            href:
              description: "The url to related content"
              type: string
            description:
              description: "The description of the related content"
              type: string
            title:
              description: "The title of the related content"
              type: string
      release_frequency:
        description: "The release frequency of a dataset"
        type: string
      state:
        $ref: '#/definitions/State'
      subtopics:
        description: "A list of subtopic ids that the dataset relates to within the website taxonomy."
        type: array
        items:
          type: "string"
      survey:
        description: "The name of the survey the dataset was created from."
        type: string
      theme:
        description: "The theme for a dataset"
        type: string
      title:
        description: "The title of the dataset"
        example: "CPI"
        type: string
      type:
        description: "The type of dataset"
        example: "cantabular_flexible_table"
        type: string
      unit_of_measure:
        description: "The unit of measure for the dataset observations"
        type: string
      uri:
        description: "The uri to the location of this resource on the web"
        type: string
  Type:
    description: "The type for a dataset" 
    type: string
    enum: [filterable, nomis]
    default: "filterable"    
  IsBasedOn:
    description: "Information about the population-type that the dataset is based on (census 2021 only)" 
    type: object
    properties:
      id:
        description: "The population-type that the dataset is based on"
        type: string
        example: "Usual-Residents"
      type:
        description: "The type of the dataset"
        type: string
        example: "cantabular_table"
  DownloadObject:
    description: "Object containing information of a downloadable file"
    type: object
    properties:
      href:
        description: "The URL to the generated file"
        type: string
      size:
        description: "The size of the file in bytes"
        type: string
  Edition:
    type: object
    properties:
      edition:
        description: "The edition of the dataset"
        example: "2017"
        readOnly: true
        type: string
      id:
        description: "An unique id for a dataset edition"
        readOnly: true
        type: string
      links:
        $ref: '#/definitions/EditionLinks'
      state:
        $ref: '#/definitions/State'
  Editions:
    type: object
    properties:
      count:
        description: "The number of editions returned for a dataset"
        readOnly: true
        type: integer
      items:
        type: array
        items:
          $ref: '#/definitions/Edition'
      limit:
        description: "The number of editions requested for a dataset"
        type: integer
      offset:
        description: "The first row of editions for a dataset to retrieve, starting at 0. Use this parameter as a pagination mechanism along with the limit parameter"
        type: integer
      total_count:
        description: "The total number of editions against a dataset"
        readOnly: true
        type: integer
  Event:
    type: object
    properties:
      message:
        description: "A description of the event"
        type: string
      message_offset:
        description: "The kafka message offset (Used to locate the kafka message)"
        type: string
      time:
        description: "The time of the event in ISO 8601 format"
        type: string
      type:
        description: |
          The type of event, this can be;
          * Info - for an information event
          * Error - for an error event
        type: string
  Instance:
    type: object
    properties:
      alerts:
        description: "A list of alerts against an instance"
        readOnly: true
        type: array
        items:
          $ref: '#/definitions/Alert'
      id:
        description: "A unique id for an instance"
        readOnly: true
        type: string
      collection_id:
        $ref: '#/definitions/CollectionID'
      downloads:
        description: "A selection of download objects containing information of downloadable files."
        type: object
        properties:
          csv:
            $ref: '#/definitions/DownloadObject'
          xls:
            $ref: '#/definitions/DownloadObject'
      edition:
        description: "The edition of the dataset version"
        type: string
      events:
        description: "A list of events took place for this job"
        readOnly: true
        type: array
        items:
          $ref: '#/definitions/Event'
      headers:
        description: "The header information from a V4 file"
        type: array
        items:
          type: string
      last_updated:
        description: "The last time an event happened"
        readOnly: true
        type: string
      links:
        type: object
        properties:
          dataset:
            description: "An object describing the ID and URL for a dataset which is associated with this instance"
            readOnly: true
            type: object
            properties:
              href:
                description: "The URL for the dataset associated with this instance"
                example: "http://localhost:22000/datasets/95c4669b-3ae9-4ba7-b690-87e890a1c67c"
                type: string
              id:
                description: "The ID of the dataset associated with this instance"
                example: "95c4669b-3ae9-4ba7-b690-87e890a1c67c"
                type: string
          edition:
            description: "An object describing the ID and URL for the dataset edition that is associated with this instance"
            readOnly: true
            type: object
            properties:
              href:
                description: "The URL for the dataset edition associated with this instance"
                example: "http://localhost:22000/datasets/95c4669b-3ae9-4ba7-b690-87e890a1c67c/editions/2017"
                type: string
              id:
                description: "The ID for the dataset edition associated with this instance"
                type: string
          job:
            description: "An object describing the ID and URL of the job containing this instance"
            readOnly: true
            required: ["id", "href"]
            type: object
            properties:
              href:
                description: "The URL for the job containing this instance"
                example: "http://localhost:21800/jobs/042e216a-7822-4fa0-a3d6-e3f5248ffc35"
                type: string
              id:
                description: "The ID of the job containing this instance"
                example: 042e216a-7822-4fa0-a3d6-e3f5248ffc35
                type: string
          self:
            description: "An object describing the ID and URL for a dataset which is associated with this instance"
            readOnly: true
            type: object
            properties:
              href:
                description: "The URL for this resource"
                example: "http://localhost:22000/instances/45c4669b-3ae9-4ba7-b690-87e890a1c67f"
                type: string
          spatial:
            description: "A link object describing the url to a list of geography ranges for the version of the dataset"
            type: object
            properties:
              href:
                description: "A url to a list of geography ranges for the version of the dataset"
                type: string
          version:
            description: "An object describing the ID and URL of the dataset version associated with this instance"
            readOnly: true
            type: object
            properties:
              href:
                description: "The URL for the dataset version associated with this instance"
                example: 'http://localhost:21800/dataset/042e216a-7822-4fa0-a3d6-e3f5248ffc35/edition/2017/version/1'
                type: string
              id:
                description: "The ID of the dataset version associated with this instance"
                example: "042e216a-7822-4fa0-a3d6-e3f5248ffc35"
                type: string
      release_date:
        description: "The release date of this version of the dataset"
        type: string
      state:
        $ref: '#/definitions/State'
      temporal:
        $ref: '#/definitions/Temporal'
      total_observations:
        description: "The number of observations in this instance"
        type: integer
      version:
        description: "The dataset version number that this instance is associated with, this will only be set once the state has been updated to `edition-confirmed`"
        readOnly: true
        type: integer
  Instances:
    description: "A list of instance resources, if query parameter state is set return all instances with that state"
    type: object
    properties:
      count:
        description: "The number of instances returned"
        type: integer
      items:
        type: array
        items:
          $ref: '#/definitions/Instance'
      limit:
        description: "The number of instances requested"
        type: integer
      offset:
        description: "The first row of instances to retrieve, starting at 0. Use this parameter as a pagination mechanism along with the limit parameter"
        type: integer
      total_count:
        description: "The total number of instances"
        type: integer
  LatestChange:
    description: "A single change between this version and the previous version of an edition for a dataset"
    type: object
    properties:
      description:
        description: "A description of what has changed between versions"
        type: string
      name:
        description: "The name of the change that has occurred between versions"
        type: string
        example: "changes in classification"
      type:
        description: "The type of change"
        type: string
        example: "summary of changes"
  NewDatasetResponse:
    description: "A model for the response body when creating a new dataset"
    type: object
    properties:
      id:
        description: "An unique id for a dataset"
        example: "DE3BC0B6-D6C4-4E20-917E-95D7EA8C91DC"
        type: string
      current:
        allOf:
        - type: object
          properties:
            collection_id:
              $ref: '#/definitions/CollectionID'
            type:  
              $ref: '#/definitions/Type'
        - $ref: "#/definitions/Dataset"
      next:
        allOf:
        - type: object
          properties:
            collection_id:
              $ref: '#/definitions/CollectionID'
            type:  
              $ref: '#/definitions/Type'
        - $ref: "#/definitions/Dataset"
  NewInstance:
    description: "A model for the request and response body for creating a new instance"
    type: object
    properties:
      id:
        description: "A unique id for an instance"
        readOnly: true
        type: string
      links:
        type: object
        properties:
          dataset:
            description: "An object describing the ID and URL for a dataset which is associated with this instance"
            type: object
            properties:
              href:
                description: "The URL for the dataset associated with this instance"
                example: "http://localhost:22000/datasets/95c4669b-3ae9-4ba7-b690-87e890a1c67c"
                type: string
              id:
                description: "The ID of the dataset associated with this instance"
                example: "95c4669b-3ae9-4ba7-b690-87e890a1c67c"
                type: string
          job:
            description: "An object describing the ID and URL of the job containing this instance"
            required: ["id", "href"]
            type: object
            properties:
              href:
                description: "The URL for the job containing this instance"
                example: "http://localhost:21800/jobs/042e216a-7822-4fa0-a3d6-e3f5248ffc35"
                type: string
              id:
                description: "The ID of the job containing this instance"
                example: 042e216a-7822-4fa0-a3d6-e3f5248ffc35
                type: string
          self:
            description: "An object describing the ID and URL for a dataset which is associated with this instance"
            readOnly: true
            type: object
            properties:
              href:
                description: "The URL for this resource"
                example: "http://localhost:22000/instances/45c4669b-3ae9-4ba7-b690-87e890a1c67f"
                type: string
      state:
        description: "The state of the resource, this can only have a value of `created`"
        type: string
        readOnly: true
  NewVersionResponse:
    description: "A model for the response body when creating a new version for an edition of a dataset"
    allOf:
      - type: object
        properties:
          collection_id:
            $ref: '#/definitions/CollectionID'
          id:
            type: string
            description: "An unique id for a dataset"
            example: "DE3BC0B6-D6C4-4E20-917E-95D7EA8C91CD"
      - $ref: "#/definitions/Version"
  Publisher:
    description: "The publisher of the dataset"
    type: object
    properties:
      name:
        description: "The name of the publisher"
        type: string
      type:
        description: "The type of publisher"
        type: string
      href:
        description: "A link to the publishers homepage"
        type: string
  State:
    description: |
      The state of the resource, can only be one of the following:
        * created
        * completed (instances only)
        * failed (instances only)
        * edition-confirmed (instances and versions only)
        * associated (not editions)
        * published
    type: string
  Temporal:
    description: "A list of frequencies the dataset covers for a particular period of time"
    type: array
    items:
      type: object
      properties:
        start_date:
          description: "The start date of the time period in which the version of the dataset covers this frequency"
          type: string
        end_date:
          description: "The end date of the time period in which the version of the dataset covers this frequency"
          type: string
        frequency:
          description: "The time frequency the version of the dataset covers for the period of time between start_date and end_date"
          type: string
  UpdateDatasetResponse:
    description: "A model for the response body when creating a new dataset"
    type: object
    properties:
      id:
        description: "An unique id for a dataset"
        example: "DE3BC0B6-D6C4-4E20-917E-95D7EA8C91DC"
        type: string
      current:
        allOf:
        - type: object
          properties:
            collection_id:
              $ref: '#/definitions/CollectionID'
        - $ref: "#/definitions/Dataset"
      next:
        allOf:
        - type: object
          properties:
            collection_id:
              $ref: '#/definitions/CollectionID'
        - $ref: "#/definitions/Dataset"
  UpdateDownloadObject:
    description: "Object containing information of a downloadable file"
    type: object
    properties:
      href:
        description: "The URL to the generated file"
        type: string
      size:
        description: "The size of the file in bytes"
        type: string
      public:
        description: "The URL to a public-accessible download"
        type: string
      private:
        description: "The URL to a non public-accessible download"
        type: string
  UpdateVersion:
    description: "An object containing information to be updated on a version resource"
    type: object
    properties:
      alerts:
        description: "A list of alerts, for example corrections after the resource has been published"
        type: array
        items:
          $ref: '#/definitions/Alert'
      collection_id:
        $ref: '#/definitions/CollectionID'
      downloads:
        description: "A selection of download objects containing information of downloadable files. These can only be updated via an authorised caller."
        type: object
        properties:
          csv:
            $ref: '#/definitions/DownloadObject'
          xls:
            $ref: '#/definitions/DownloadObject'
      latest_changes:
        description: "A list of changes between version of an edition for a dataset and the previous version of the same dataset edition"
        type: array
        items:
          $ref: '#/definitions/LatestChange'
      links:
        $ref: '#/definitions/VersionLinks'
      release_date:
        description: "The release date of this version of the dataset"
        type: string
      state:
        $ref: '#/definitions/State'
      temporal:
        $ref: '#/definitions/Temporal'
      version:
        description: "A number identifying the version for an edition from a dataset"
        example: 1
        readOnly: true
        type: integer
      usage_notes:
        description: "A list of usage notes relating to the dataset"
        type: array
        items:
          $ref: '#/definitions/UsageNotes'
  UsageNotes:
    description: "A note relating to the dataset. This will appear in downloaded datasets"
    type: object
    properties:
      title:
        description: "The title of the note"
        type: string
      note:
        description: "The content of the note"
        type: string
  Versions:
    type: object
    properties:
      count:
        description: "The number of versions returned for an edition of a dataset"
        readOnly: true
        type: integer
      items:
        description: "An array of Datasets"
        type: array
        items:
          $ref: '#/definitions/Version'
      limit:
        description: "The number of versions requested for an edition of a dataset"
        type: integer
      offset:
        description: "The first row of versions for an edition of a dataset to retrieve, starting at 0. Use this parameter as a pagination mechanism along with the limit parameter"
        type: integer
      total_count:
        description: "The total number of versions for an edition of a dataset"
        readOnly: true
        type: integer
  Version:
    description: "An object containing information about published datasets from the ONS"
    required: [
      release_date,
    ]
    type: object
    properties:
      alerts:
        description: "A list of alerts, for example corrections after the resource has been published"
        type: array
        items:
          $ref: '#/definitions/Alert'
      collection_id:
        $ref: '#/definitions/CollectionID'
      downloads:
        description: "A selection of download objects containing information of downloadable files."
        type: object
        properties:
          csv:
            $ref: '#/definitions/DownloadObject'
          csvw:
            $ref: '#/definitions/DownloadObject'
          txt:
            $ref: '#/definitions/DownloadObject'
          xls:
            $ref: '#/definitions/DownloadObject'
      edition:
        description: "The dataset edition for this version"
        readOnly: true
        type: string
      id:
        description: "The identifier for this version of an edition for a dataset"
        type: string
      is_based_on:
        $ref: '#/definitions/IsBasedOn'
      dataset_id:
        description: "The identifier for the dataset."
        type: string
      latest_changes:
        description: "A list of changes between version of an edition for a dataset and the previous version of the same dataset edition"
        type: array
        items:
          $ref: '#/definitions/LatestChange'
      links:
        $ref: '#/definitions/VersionLinks'
      lowest_geography:
        description: "The lowest geography this dataset is available at (Census datasets only)"
        type: string
      release_date:
        description: "The release date of this version of the dataset"
        type: string
      state:
        $ref: '#/definitions/State'
      temporal:
        $ref: '#/definitions/Temporal'
      type:
        description: "The type of dataset - e.g. cantabular_flexible_table"
        type: string
      version:
        description: "A number identifying the version for an edition from a dataset"
        example: 1
        readOnly: true
        type: integer
      usage_notes:
        description: "A list of usage notes relating to the dataset"
        type: array
        items:
          $ref: '#/definitions/UsageNotes'
  # Link objects
  DatasetLinks:
    description: "A list of links related to this resource"
    type: object
    properties:
      access_rights:
        $ref: '#/definitions/AccessRightsLink'
      editions:
        readOnly: true
        type: object
        properties:
          href:
            description: "A URL to all editions for this dataset"
            example: "http://localhost:8080/datasets/DE3BC0B6-D6C4-4E20-917E-95D7EA8C91DC/editions"
            type: string
      latest_version:
        $ref: '#/definitions/LatestVersionLink'
      self:
        $ref: '#/definitions/SelfLink'
      taxonomy:
        $ref: '#/definitions/TaxonomyLink'
  EditionLinks:
    description: "A list of links related to this resource"
    readOnly: true
    type: object
    properties:
      dataset:
        $ref: '#/definitions/DatasetLink'
      latest_version:
        $ref: '#/definitions/LatestVersionLink'
      self:
        $ref: '#/definitions/SelfLink'
      versions:
        type: object
        properties:
          href:
            description: "A URL to all versions dor an edition of a dataset"
            example: "http://localhost:8080/datasets/DE3BC0B6-D6C4-4E20-917E-95D7EA8C91DC/edition/2017/versions"
            type: string
  VersionLinks:
    description: "A list of links related to this resource"
    type: object
    properties:
      dataset:
        $ref: '#/definitions/DatasetLink'
      edition:
        $ref: '#/definitions/EditionLink'
      self:
        $ref: '#/definitions/SelfLink'
      spatial:
        $ref: '#/definitions/SpatialLink'
  DatasetLink:
    description: "An object containing the dataset id and link"
    readOnly: true
    type: object
    properties:
      href:
        description: "A URL to the parent dataset for this resource"
        example: "http://localhost:8080/datasets/DE3BC0B6-D6C4-4E20-917E-95D7EA8C91DC"
        type: string
      id:
        description: "The unique id for the dataset of this version"
        type: string
  EditionLink:
    description: "An object containing the edition and link"
    readOnly: true
    type: object
    properties:
      href:
        description: "A URL to the dataset edition for a version"
        example: "http://localhost:8080/datasets/DE3BC0B6-D6C4-4E20-917E-95D7EA8C91DC/editions/2017"
        type: string
      id:
        description: "The unique id for the dataset edition for a version"
        type: string
  LatestVersionLink:
    description: "An object containing the latest version id and link"
    type: object
    readOnly: true
    properties:
      href:
        description: "A link to the latest version and edition of the dataset"
        example: "http://localhost:8080/datasets/DE3BC0B6-D6C4-4E20-917E-95D7EA8C91DC/editions/2017/versions/2"
        type: string
      id:
        description: "The unique id for the latest version of a dataset"
        type: "string"
  SelfLink:
    description: "A link to this resource"
    readOnly: true
    type: object
    properties:
      href:
        description: "A URL to this resource"
        type: string
  SpatialLink:
    type: object
    properties:
      href:
        description: "A url to a list of geography ranges for the version of the dataset"
        type: string
  TaxonomyLink:
    description: "A link to the taxonomy of the dataset"
    type: object
    properties:
      href:
        description: "A url to the taxonomy of the dataset"
        type: string
  VersionLink:
    description: "The dataset version this resource belongs to"
    type: object
    properties:
      href:
        description: "A URL to the version this resource relates to"
        type: string
      id:
        description: "The version number this resource relates to"
        type: string